{
    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/*.d.ts",
        "test/**/*",
        "coverage/**/*",
        "dist/**/*"
    ],
    "reporter": [
        "html",
        "text"
    ],
    "all": true
}
